services:
  db:
    build: ./db
    container_name: db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - appnet

  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - db
    environment:
      MONGO_HOST: db
      MONGO_PORT: 27017
      MONGO_DB: appdb
      PROJECT_NAME: FARMApp
      FIRST_SUPERUSER: admin@example.com
      FIRST_SUPERUSER_PASSWORD: Admin123
    ports:
      - "8001:8000"
    networks:
      - appnet

  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - appnet

volumes:
  mongo_data:

networks:
  appnet:
